### **Define ETL functions**

###### Extract function

In [1]:
import requests

def extract(url):
    f = requests.get(url)
    print(f)
    return (f.text)

##### Transform function

In [2]:
import csv

def transform(data):
    reader = csv.reader(data.strip().split("\n"))
    return reader

##### Redshift connection function

In [3]:
import psycopg2

# Redshift connection function
def get_Redshift_connection():
    host = "ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com"
    redshift_user = "choyoura"
    redshift_pass = "Choyoura!1"
    port = 5439
    dbname = "dev"

    conn = psycopg2.connect("dbname={dbname} user={user} host={host} password={password} port={port}".format(
        dbname=dbname,
        user=redshift_user,
        password=redshift_pass,
        host=host,
        port=port
    ))

    conn.set_session(autocommit=True)
    return conn.cursor()

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

##### Load function

In [4]:
# try/except, autocommit = TRUE
def load(csv_reader):
    cur = get_Redshift_connection() 
    try:
      sql = """BEGIN;CREATE TALBE IF NOT EXISTS choyoura.name_gender (
              name varchar(64),
              gender varchar(16)
              );
              DELETE FROM choyoura.name_gender;"""
      cur.execute(sql)   
      for name, gender in csv_reader:
        sql = """
              INSERT INTO choyoura.name_gender
              VALUES ({name}, {gender});
              """.format(name=name, gender=gender)
        cur.execute(sql)
      cur.execute("END") # cur.execute("COMMIT")

    except Exception as e:
      cur.execute("ROLLBACK")  

    finally:
      # if conn.is_connected():
      cur.close()

##### Logging Function

In [5]:
from datetime import datetime

def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

### **Run the ETL Process**

In [6]:
link = "https://s3-geospatial.s3-us-west-2.amazonaws.com/name_gender.csv"

In [7]:
data = extract(link)
csv_reader = transform(data)
load(csv_reader)

<Response [200]>

In [8]:
!pip install sqlalchemy==1.3.2

In [9]:
import sqlalchemy

In [10]:
%load_ext sql

%sql postgresql://choyoura:passwrod@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev

'Connected: choyoura@dev'

In [11]:
%%sql

select * from choyoura.name_gender limit 20;

 * postgresql://choyoura:***@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev
20 rows affected.

[('Amryn', 'Unisex'),
 ('Apurva', 'Unisex'),
 ('Aryion', 'M'),
 ('Alixia', 'F'),
 ('Alyssarose', 'F'),
 ('Arvell', 'M'),
 ('Aibel', 'M'),
 ('Atiyyah', 'F'),
 ('Adlie', 'F'),
 ('Anyely', 'F'),
 ('Aamoni', 'F'),
 ('Ahman', 'M'),
 ('Arlane', 'F'),
 ('Armoney', 'F'),
 ('Atzhiry', 'F'),
 ('Antonette', 'F'),
 ('Akeelah', 'F'),
 ('Abdikadir', 'M'),
 ('Arinze', 'M'),
 ('Arshaun', 'M')]