####**Define ETL functions**

In [23]:
import psycopg2

# Redshift connection function
def get_Redshift_connection():
    host = "ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com"
    redshift_user = "choyoura"
    redshift_pass = "password"
    port = 5439
    dbname = "dev"

    conn = psycopg2.connect("dbname={dbname} user={user} host={host} password={password} port={port}".format(
        dbname=dbname,
        user=redshift_user,
        password=redshift_pass,
        host=host,
        port=port
    ))

    conn.set_session(autocommit=True)
    return conn.cursor()

In [24]:
import requests
import json

def extract(url):
    response = requests.get(url)
    print(response)
    data = response.json()['daily']
    print("Extract Done")
    print(data)
    return data

In [25]:
from datetime import datetime

def transform(data):
  ret = []

  for d in data[1:]:
    date = datetime.fromtimestamp(d["dt"]).strftime('%Y-%m-%d')
    avg_temp = d["temp"]["day"]
    min_temp = d["temp"]["min"]
    max_temp = d["temp"]["max"]

    ret.append([date, avg_temp, min_temp, max_temp])
  for row in ret:
    print(row)

  print("Transform Done")
  return ret

In [20]:
from datetime import datetime

def load(data):

  cur = get_Redshift_connection()

  try:
    # copy origin Table to temp Table 
    sql = """BEGIN;
            CREATE TABLE IF NOT EXISTS choyoura.weather_forecast (
              date date primary key,
              temp float,
              min_temp float,
              max_temp float,
              updated_date timestamp default GETDATE()
           );

            DROP TABLE IF EXISTS choyoura.temp_weather_forecast;

            CREATE TABLE IF NOT EXISTS choyoura.temp_weather_forecast (
              date date primary key,
              temp float,
              min_temp float,
              max_temp float,
              updated_date timestamp default GETDATE()
           );

            INSERT INTO choyoura.temp_weather_forecast 
            SELECT * FROM choyoura.weather_forecast;"""

    cur.execute(sql)

    cur.execute("SELECT count(1) FROM choyoura.weather_forecast;")
    org_count = cur.fetchone()[0]

    # ETL to temp Table
    for date, temp, min_temp, max_temp in data:
      sql = f"""
            INSERT INTO choyoura.temp_weather_forecast (date, temp, min_temp, max_temp)
            VALUES ('{date}', '{temp}', '{min_temp}', '{max_temp}');
            """
      cur.execute(sql)

    cur.execute("SELECT count(1) FROM choyoura.temp_weather_forecast;")
    temp_count = cur.fetchone()[0]


    # temp Table input validation    
    if int(org_count) + 7 != int(temp_count):
      raise ValueError('Some Data is missing!')

    # Temp table -> original data, removed duplicates
    sql = """DELETE FROM choyoura.weather_forecast;

            INSERT INTO choyoura.weather_forecast 
            SELECT date, temp, min_temp, max_temp, updated_date
              FROM (SELECT *, ROW_NUMBER() OVER (PARTITION BY date ORDER BY updated_date DESC) seq
                    FROM choyoura.temp_weather_forecast)
              WHERE seq = 1
              ORDER BY date;"""
    
    cur.execute(sql)

    cur.execute("END")
    print("Load Done: Incrementally Updated")

  except:
    print("Error! ROLLBACK")
    cur.execute("ROLLBACK")

  else:
    cur.execute("SELECT count(1) FROM choyoura.weather_forecast;")
    count = cur.fetchone()[0]
    print("\n Number of data inserted to org_table : ", count)

#### **Run the ETL Process**

https://colab.research.google.com/github/apolitical/colab-env/blob/master/colab_env_testbed.ipynb

Seoul/Coordinates: 37.5665° N, 126.9780° E

In [42]:
!pip install colab-env --upgrade

In [8]:
import colab_env
import os 
# !more gdrive/My\ Drive/vars.env

API_key = os.getenv("API_key")

Mounted at /content/gdrive

In [26]:
params = {'lat':37.57, 'lon':126.98, 'part':'current,minutely,hourly', 'unit':'metric', 'key': API_key}
API_url = 'https://api.openweathermap.org/data/2.5/onecall?lat={lat}&lon={lon}&exclude={part}&units={unit}&appid={key}'.format(**params)

In [27]:
json_data = extract(API_url) # Temperature in Celsius

<Response [200]>
Extract Done
[{'dt': 1637550000, 'sunrise': 1637533144, 'sunset': 1637569054, 'moonrise': 1637575920, 'moonset': 1637542080, 'moon_phase': 0.58, 'temp': {'day': 5.61, 'min': 1.14, 'max': 8.99, 'night': 1.14, 'eve': 3.58, 'morn': 4.5}, 'feels_like': {'day': 1.03, 'night': -3.97, 'eve': -0.97, 'morn': 0.69}, 'pressure': 1014, 'humidity': 43, 'dew_point': -5.3, 'wind_speed': 8.49, 'wind_deg': 300, 'wind_gust': 14.79, 'weather': [{'id': 616, 'main': 'Snow', 'description': 'rain and snow', 'icon': '13d'}], 'clouds': 82, 'pop': 1, 'rain': 4.28, 'snow': 0.43, 'uvi': 1.91}, {'dt': 1637636400, 'sunrise': 1637619607, 'sunset': 1637655425, 'moonrise': 1637665380, 'moonset': 1637631600, 'moon_phase': 0.61, 'temp': {'day': 3.2, 'min': -0.16, 'max': 4.73, 'night': 2.1, 'eve': 2.99, 'morn': -0.09}, 'feels_like': {'day': -1.91, 'night': -2.09, 'eve': -1.4, 'morn': -4.88}, 'pressure': 1018, 'humidity': 39, 'dew_point': -9.6, 'wind_speed': 7.58, 'wind_deg': 296, 'wind_gust': 14.57, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'clouds': 57, 'pop': 0.13, 'uvi': 1.85}, {'dt': 1637722800, 'sunrise': 1637706069, 'sunset': 1637741798, 'moonrise': 1637755140, 'moonset': 1637720880, 'moon_phase': 0.64, 'temp': {'day': 5.44, 'min': 1.25, 'max': 6.84, 'night': 3.88, 'eve': 5.59, 'morn': 1.62}, 'feels_like': {'day': 1.33, 'night': 3.88, 'eve': 2.66, 'morn': -1.68}, 'pressure': 1019, 'humidity': 37, 'dew_point': -8.13, 'wind_speed': 6.67, 'wind_deg': 292, 'wind_gust': 11.81, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 2, 'pop': 0.19, 'uvi': 1.94}, {'dt': 1637809200, 'sunrise': 1637792530, 'sunset': 1637828172, 'moonrise': 1637845140, 'moonset': 1637809740, 'moon_phase': 0.67, 'temp': {'day': 7.22, 'min': 2.93, 'max': 8.64, 'night': 5.32, 'eve': 6.79, 'morn': 2.93}, 'feels_like': {'day': 5.89, 'night': 4.17, 'eve': 4.59, 'morn': 2.93}, 'pressure': 1020, 'humidity': 46, 'dew_point': -3.69, 'wind_speed': 4.36, 'wind_deg': 304, 'wind_gust': 7.18, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'clouds': 51, 'pop': 0, 'uvi': 1.91}, {'dt': 1637895600, 'sunrise': 1637878991, 'sunset': 1637914549, 'moonrise': 1637935260, 'moonset': 1637898300, 'moon_phase': 0.71, 'temp': {'day': 6.97, 'min': 3.01, 'max': 8.42, 'night': 5.88, 'eve': 7.3, 'morn': 3.01}, 'feels_like': {'day': 5.18, 'night': 3.45, 'eve': 5.42, 'morn': 3.01}, 'pressure': 1026, 'humidity': 31, 'dew_point': -9.12, 'wind_speed': 3.55, 'wind_deg': 304, 'wind_gust': 7.62, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 0, 'pop': 0, 'uvi': 1.91}, {'dt': 1637982000, 'sunrise': 1637965451, 'sunset': 1638000927, 'moonrise': 0, 'moonset': 1637986680, 'moon_phase': 0.75, 'temp': {'day': 6.21, 'min': 2.73, 'max': 8.07, 'night': 5.72, 'eve': 7.05, 'morn': 2.73}, 'feels_like': {'day': 5.25, 'night': 5.72, 'eve': 5.82, 'morn': 2.73}, 'pressure': 1032, 'humidity': 29, 'dew_point': -10.67, 'wind_speed': 2.91, 'wind_deg': 315, 'wind_gust': 8.52, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 0, 'pop': 0, 'uvi': 2}, {'dt': 1638068400, 'sunrise': 1638051911, 'sunset': 1638087308, 'moonrise': 1638025440, 'moonset': 1638074820, 'moon_phase': 0.77, 'temp': {'day': 8.12, 'min': 3.13, 'max': 10.11, 'night': 7.87, 'eve': 8.88, 'morn': 3.13}, 'feels_like': {'day': 7.52, 'night': 7.87, 'eve': 8.88, 'morn': 1.93}, 'pressure': 1036, 'humidity': 35, 'dew_point': -6.52, 'wind_speed': 1.58, 'wind_deg': 61, 'wind_gust': 2.19, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 2, 'pop': 0, 'uvi': 2}, {'dt': 1638154800, 'sunrise': 1638138370, 'sunset': 1638173690, 'moonrise': 1638115740, 'moonset': 1638162840, 'moon_phase': 0.8, 'temp': {'day': 9.53, 'min': 6.32, 'max': 10.98, 'night': 8.97, 'eve': 9.9, 'morn': 6.32}, 'feels_like': {'day': 9.53, 'night': 7.84, 'eve': 8.79, 'morn': 6.32}, 'pressure': 1027, 'humidity': 41, 'dew_point': -3.24, 'wind_speed': 2.37, 'wind_deg': 111, 'wind_gust': 5.79, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': 100, 'pop': 0, 'uvi': 2}]

In [28]:
week_data = transform(json_data)

['2021-11-23', 3.2, -0.16, 4.73]
['2021-11-24', 5.44, 1.25, 6.84]
['2021-11-25', 7.22, 2.93, 8.64]
['2021-11-26', 6.97, 3.01, 8.42]
['2021-11-27', 6.21, 2.73, 8.07]
['2021-11-28', 8.12, 3.13, 10.11]
['2021-11-29', 9.53, 6.32, 10.98]
Transform Done

In [41]:
!pip install sqlalchemy==1.3.2

In [32]:
import sqlalchemy

In [38]:
load(week_data)

In [39]:
%load_ext sql

%sql postgresql://choyoura:Choyoura!1@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev

In [40]:
%%sql

select * from choyoura.weather_forecast order by date;